@{
    ViewData["Title"] = "Resume";
}

<div class="text-center">
    <h1 class="display-4"></h1>
</div>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
  <span>
    Desenvolvedores
  </span>
  <br>
  <a id="link1" href="https://github.com/Aprendizzz" target="_blank">Jonathan Gonçalves</a><br>
  <a id="link2" href="https://github.com/Ronan312" target="_blank">Vinicius Soares</a>
</div>
