@{
    ViewData["Title"] = "Developers";
}
<h1>@ViewData["Title"]</h1>

<style>
    #link1 {
        text-align: justify;
    }
    #link2 {
        text-align: justify;
    }
</style>
<a id="link1" href="https://github.com/Aprendizzz" target="_blank">Jonathan Gonçalves</a><br>
<a id="link2" href="https://github.com/Ronan312" target="_blank">Vinicius Soares</a>
