@{
    ViewData["Title"] = "Resume";
}

<div class="text-center">
    <h1 class="display-4"></h1>
</div>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
  <span>
    Galaxy.IO
  </span>
  <br>
  <p id="resume">
        Galaxy.IO é um jogo para browsers,  multiplayer, desenvolvido com Typescript, e canvas, todos os cálculos 
        e mecânicas foram feitas pelos desenvolvedores sem o uso de engines ou frameworks. 
        No jogo o jogador pode escolher entre 3 naves, uma atacante para causar danos massivos, 
        uma robusta para aguentar o dano e proteção para o time e uma suporte para oferecer escudos e reparos para as naves. 
        O jogador também escolhe a qual facção vai pertencer, que serão duas. O jogo termina quando uma facção ganhar, 
        então terá um reset no servidor e começa novamente o jogo com outras facções. 
    </p>
</div>
