@{
    ViewData["Title"] = "Resume";
}

<div class="text-center">
    <h1 class="display-4">Resume</h1>
    <style >
        #resume {
            text-align: justify;
            text-indent: 50px;
        }
    </style>
    <p id="resume">
        Galaxy.IO é um jogo para browsers,  multiplayer, desenvolvido em Javascript, utilizando Typescript, e canvas somente,
        todos os cálculos e mecânicas foram programadas pelos desenvolvedores. 
        No jogo o jogador pode escolher entre 3 naves, uma atacante para causar danos massivos, 
        uma robusta para aguentar o dano e proteção para o time e uma suporte para oferecer escudos e reparos para as naves. 
        O jogador também escolhe a qual facção vai pertencer, que serão duas. O jogo termina quando uma facção ganhar, 
        então terá um reset no servidor e começa novamente o jogo com outras facções. 
    </p>
</div>
